body {
  color: #2f3b42;
  font-family: Ubuntu;
}
body:not(a, button) {
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: Ubuntu;
  font-size: 35px;
  font-weight: 500;
  line-height: 40.22px;
  text-align: center;
  margin-bottom: 58px;
}

.blue_line {
  margin-bottom: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

button {
  width: 215px;
  height: 45px;
  background: #c8ebff;
  border-radius: 42px;
  border: none;
}
button:hover {
  background: none;
  border: 2px solid #3187b7;
}

header {
  height: 171.96px;
  width: auto;
  position: relative;
}
header .header_top {
  height: 108.61px;
}
header .header_top img {
  position: absolute;
  width: 68px;
  height: 68.38px;
  top: 24.13px;
  left: 86px;
  cursor: pointer;
}
header .header_top p {
  position: absolute;
  width: 334px;
  height: 23.13px;
  top: 46.26px;
  left: 184px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  line-height: 22.98px;
  text-align: left;
}
header .header_top svg {
  position: absolute;
  width: 20.25px;
  height: 20.36px;
  top: 44.62px;
  right: 277.38px;
  gap: 0px;
  opacity: 0px;
}
header .header_top a {
  position: absolute;
  width: 186px;
  height: 24.13px;
  top: 42.24px;
  right: 74px;
  gap: 0px;
  opacity: 0px;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 500;
  line-height: 24.13px;
  text-align: left;
}
header .header_down {
  position: relative;
  bottom: 0;
  height: 63.35px;
  background: #2f3b42;
}
header .header_down nav {
  position: absolute;
  left: 189px;
  width: 329px;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.98px;
  color: #f6f6f6;
}
header .header_down nav ul {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .header_down nav ul li {
  position: relative;
  height: 100%;
  width: 175px;
  border: 1px solid #3a4b55;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_down nav ul li span {
  margin-right: 16.32px;
}
header .header_down nav ul #menu_cont {
  position: absolute;
  bottom: -525px;
  left: 0px;
  width: 473px;
  height: 524px;
  background: white;
  border-radius: 0px 0px 10px 10px;
  display: none;
  z-index: 3;
}
header .header_down nav ul #menu_cont .catalog-menu {
  display: block;
  margin-top: 29px;
  margin-bottom: 38px;
  margin-left: 36px;
  color: initial;
}
header .header_down nav ul #menu_cont .catalog-menu:hover {
  color: #2d81b0;
}
header .header_down nav ul #menuButton:hover #menu_cont {
  display: block;
}
header .header_down nav ul:hover {
  cursor: pointer;
}
header .header_down .header_left {
  position: absolute;
  width: 468px;
  height: 77.43px;
  right: 0;
  top: -8%;
  border-radius: 50px 0px 0px 50px;
  background: #c8ebff;
}
header .header_down .header_left p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header_down .header_left span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 23px;
  left: 263px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
header .header_down .header_left .basket-div {
  width: inherit;
  position: absolute;
  translate: 0 76px;
  background-color: rgb(228, 227, 227);
  border: solid 1px black;
}
header .header_down .header_left .basket-div > ul {
  width: inherit;
}
header .header_down .header_left .basket-div > ul > li {
  width: inherit;
  height: 70px;
  position: relative;
}
header .header_down .header_left .basket-div > ul > li > img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 50%;
  translate: 0 -50%;
}
header .header_down .header_left .basket-div > ul > li > svg {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 50%;
  translate: 0 -50%;
}

.main {
  height: 688px;
  background: url(./pictures/main/2022-05-18_11-57-49.png) no-repeat;
  background-size: cover;
}
.main .main_info {
  width: 960px;
  height: 100%;
  padding: 125px 0 0 189px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
  background: rgba(255, 255, 255, 0.25);
}
.main .main_info h2 {
  font-family: Ubuntu;
  font-size: 26px;
  font-weight: 500;
  line-height: 29.87px;
  text-align: left;
  margin-bottom: 30px;
}
.main .main_info h3 {
  font-size: 76px;
  font-weight: 800;
  line-height: 91.2px;
  text-align: left;
  background: linear-gradient(95.51deg, #565656 12.7%, #373737 103.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.main .main_info h4 {
  font-family: Ubuntu;
  font-size: 26px;
  font-weight: 500;
  line-height: 29.87px;
  text-align: left;
  margin-bottom: 68px;
}
.main .main_info span {
  margin-left: 181px;
  position: relative;
  border-bottom: 1px solid;
}
.main .main_info svg {
  margin-left: 22px;
  transform: translateY(25%);
}

.provides {
  height: 1203px;
  position: relative;
}
.provides svg {
  margin-top: 89px;
}
.provides .provides_cont {
  width: 1217px;
  height: 774px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.provides .provides_cont .provides_elements {
  width: 583px;
  height: 224px;
  border: 4px solid #2d81af;
  border-radius: 20px;
  display: flex;
}
.provides .provides_cont .provides_elements .provide_element_left {
  width: 183px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.provides .provides_cont .provides_elements .provide_element_left svg {
  margin: 0;
  position: static;
  transform: translate(0, 0);
}
.provides .provides_cont .provides_elements .provide_element_right {
  position: relative;
  width: calc(100% - 183px);
}
.provides .provides_cont .provides_elements .provide_element_right h3 {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 700;
  line-height: 24.13px;
  text-align: left;
  margin-top: 46px;
  margin-bottom: 22px;
}
.provides .provides_cont .provides_elements .provide_element_right p {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
  max-width: 367px;
}
.provides .provides_cont .provides_elements:hover {
  background: #c8ebff;
}

.models {
  height: 810px;
}
.models .models_cont {
  display: flex;
  justify-content: center;
}
.models .models_cont .models_lins {
  width: 359px;
  height: 453px;
  border-radius: 14px;
  border: 1px solid #bbbbbb;
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.models .models_cont .models_lins img {
  margin-top: 49px;
}
.models .models_cont .models_lins h3 {
  margin-top: 22px;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
  color: #4b4b4b;
}
.models .models_cont .models_lins p {
  margin-top: 14px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.98px;
  text-align: left;
  color: #4b4b4b;
}
.models .models_cont .models_lins button {
  margin-top: 26px;
}

.services {
  height: 2321px;
  position: relative;
  overflow: hidden;
}
.services h3 {
  text-align: center;
  font-family: Ubuntu;
  font-size: 25px;
  font-weight: 400;
  line-height: 28.73px;
  margin-bottom: 57px;
}
.services .service_cont {
  display: flex;
  align-items: end;
  flex-direction: column;
  height: 1937px;
  width: 1919px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.services .service_cont .service_list {
  height: 563px;
  width: 1558px;
  margin-bottom: 97px;
  position: relative;
}
.services .service_cont .service_list img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.services .service_cont .service_list .service_description {
  padding-left: 183px;
  width: 1141px;
  height: 563px;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid #bbbbbb;
  border-right: none;
  z-index: 2;
  position: absolute;
  right: 0;
  background: white;
}
.services .service_cont .service_list .service_description h4 {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 500;
  line-height: 34.47px;
  text-align: left;
  margin-top: 41px;
}
.services .service_cont .service_list .service_description p {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  text-align: left;
  width: 600px;
  margin-top: 51px;
}
.services .service_cont .service_list .service_description span {
  display: block;
  font-family: Ubuntu;
  font-size: 25px;
  font-weight: 500;
  line-height: 28.73px;
  text-align: left;
  margin-top: 32px;
}
.services .service_cont .service_list .service_description button {
  width: 269px;
  height: 50px;
  margin-top: 36px;
}
.services .service_cont .service_list .service_description .service_description_bg {
  height: 563px;
  width: 1000px;
  position: absolute;
  top: -1px;
  right: 0;
  transform: translate(100%, 0);
  border: 1px solid #bbbbbb;
  border-left: none;
}

.positives {
  height: 843px;
}
.positives .positive_cont {
  width: 1198px;
  height: 418px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.positives .positive_cont .positive_list {
  width: 370px;
  height: 194px;
  border-radius: 20px;
  border: 4px solid #2d81af;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.positives .positive_cont .positive_list h3 {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 700;
  line-height: 24.13px;
  color: #4b4b4b;
  margin-bottom: 17px;
}
.positives .positive_cont .positive_list:hover {
  background: #c8ebff;
}
.positives button {
  margin-top: 46px;
  width: 269px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.contacts {
  height: 829px;
}
.contacts gmp-map {
  display: block;
  width: 1198px;
  height: 491px;
  margin-top: 65px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.contacts .contacts_info {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 54px;
  width: 1198px;
  height: 61px;
  display: flex;
  align-items: center;
}
.contacts .contacts_info p {
  width: 678px;
  height: 48px;
  margin-left: 51.71px;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
}

footer {
  height: 513px;
  background: #2f3b42;
  color: white;
  position: relative;
}
footer .footer_left {
  width: 734.71px;
  height: 180.17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 96px;
  left: 10%;
}
footer .footer_left > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_left > div p {
  width: 678px;
  height: 44px;
  font-family: Ubuntu;
  font-size: 19px;
  font-weight: 400;
  line-height: 21.83px;
  text-align: left;
}
footer .footer_left > div .footer_call {
  width: 678px;
  display: flex;
  flex-direction: column;
}
footer .footer_left > div .footer_call > a {
  display: inline;
  max-width: 137px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
footer .footer_left > div:nth-child(3) p {
  height: auto;
}
footer .footer_right {
  width: 291px;
  height: 294px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.68px;
  text-align: left;
  position: absolute;
  top: 71px;
  right: 9.5%;
}
footer .footer_right span {
  margin-bottom: 23px;
  display: block;
}
footer .footer_bottom {
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_bottom p:nth-child(2) {
  color: #9b9b9b;
}/*# sourceMappingURL=style.css.map */