.invalid-input {
  border: solid red 2px;
}

.button {
  width: 215px;
  height: 45px;
  background: #c8ebff;
  border-radius: 42px;
  border: none;
}
.button:hover {
  background: none;
  border: 2px solid #3187b7;
}

.button2 {
  border-radius: 10px;
  color: #2f3b42;
  background: none;
  border: 1px solid #bbbbbb;
}
.button2:hover {
  color: #2d81b0;
}

.active {
  color: #2d81b0;
}

.active-catalog {
  background: #465a66;
}

#returnMain {
  cursor: pointer;
}

.models_lins {
  width: 359px;
  height: 453px;
  border-radius: 14px;
  border: 1px solid #bbbbbb;
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.models_lins img {
  margin-top: 49px;
}
.models_lins h3 {
  margin-top: 22px;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
  color: #4b4b4b;
}
.models_lins p {
  margin-top: 14px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.98px;
  text-align: left;
  color: #4b4b4b;
}
.models_lins button {
  margin-top: 26px;
}

aside {
  position: absolute;
  left: 0;
  top: 75px;
  width: 185px;
  display: flex;
  justify-content: space-between;
}
aside span {
  color: #2d80af;
}

.catalog {
  position: relative;
  left: 50%;
  translate: -50% 0;
  max-width: 1200px;
}
.catalog .catalog {
  position: relative;
  height: 423px;
}
.catalog .catalog > svg {
  margin-top: 86px;
}
.catalog .catalog .catalog_list {
  position: relative;
  left: 50%;
  translate: -50% 0;
  width: 1070px;
  height: 179px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog .catalog .catalog_list button {
  display: block;
  width: 528px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  text-align: center;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.28px;
}
.catalog .models {
  height: 710px;
}
.catalog .models .models_cont {
  display: flex;
  justify-content: center;
}
.catalog .shop_list {
  display: flex;
  justify-content: space-between;
  width: 1600px;
}
.catalog .shop_list h3 {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.28px;
  text-align: left;
  margin-bottom: 13px;
}
.catalog .shop_list .shop_list_form {
  width: 339px;
}
.catalog .shop_list .shop_list_form .select {
  width: 400px;
}
.catalog .shop_list .shop_list_form .select label {
  margin-right: 10px;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.catalog .shop_list .shop_list_form .select .select-content {
  width: 213px;
  height: 53px;
  text-align: center;
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.28px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.catalog .shop_list .shop_list_form .price > input {
  width: 121px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  margin: 0 8px;
  text-align: center;
}
.catalog .shop_list .shop_list_form .price > label {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.98px;
  text-align: left;
}
.catalog .shop_list .shop_list_form .brand_form {
  margin-top: 68px;
}
.catalog .shop_list .shop_list_form .brand_form > div {
  display: grid;
  grid-auto-rows: 23px;
  grid-template-columns: 25px 1fr;
  gap: 9px;
}
.catalog .shop_list .shop_list_form .brand_form > div > label {
  display: flex;
  align-items: center;
}
.catalog .shop_list .shop_list_form .form-button {
  margin-top: 41px;
}
.catalog .shop_list .shop_list_form .form-button button {
  height: auto;
  width: auto;
  gap: 0px;
  padding: 14px 47px;
  margin-bottom: 12px;
}
.catalog .shop_list .shop-list-product {
  width: 100%;
}
.catalog .shop_list .shop-list-product > h3 {
  text-align: center;
  margin-bottom: 66px;
}
.catalog .shop_list .shop-list-product .output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 61px;
}
.catalog .shop_list .shop-list-product .output > p {
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.catalog .shop_list .shop-list-product .output .card {
  margin: auto;
}
.catalog .shop_list .shop-list-product .output .card h3 {
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

footer {
  height: 513px;
  background: #2f3b42;
  color: white;
  position: relative;
}
footer .footer_left {
  width: 734.71px;
  height: 180.17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 96px;
  left: 10%;
}
footer .footer_left > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_left > div p {
  width: 678px;
  height: 44px;
  font-family: Ubuntu;
  font-size: 19px;
  font-weight: 400;
  line-height: 21.83px;
  text-align: left;
}
footer .footer_left > div .footer_call {
  width: 678px;
  display: flex;
  flex-direction: column;
}
footer .footer_left > div .footer_call > a {
  display: inline;
  max-width: 137px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
footer .footer_left > div:nth-child(3) p {
  height: auto;
}
footer .footer_right {
  width: 291px;
  height: 294px;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 500;
  line-height: 20.68px;
  text-align: left;
  position: absolute;
  top: 71px;
  right: 9.5%;
}
footer .footer_right span {
  margin-bottom: 23px;
  display: block;
}
footer .footer_bottom {
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer .footer_bottom p:nth-child(2) {
  color: #9b9b9b;
}/*# sourceMappingURL=catalog.css.map */